name: Upload Naukri Resume

on:
  schedule:
     - cron: '0 0 * * *' # Run every day at midnight
  # Add this to make it easier to trigger manually
  workflow_dispatch:

jobs:
  upload-resume:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Upload resume to Naukri
        uses: Prateek-Wayne/naukri-resume-action@v1
        with:
          username: ${{ secrets.NAUKRI_USERNAME }}
          password: ${{ secrets.NAUKRI_PASSWORD }}
          profile_id: ${{ secrets.NAUKRI_PROFILE_ID }}
          resume_path: |-
            resumes/resume1.pdf
